<!DOCTYPE HTML>
<html>
<head>
  <title>무신사 과제</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-12">
  <h1>[입력]</h1>
  <form>
    <div class="form-group">
      <label for="title">URL</label>
      <input type="text" class="form-control" id="url">
    </div>
  </form>
  <button type="button" class="btn btn-primary" id="btn-get">단축URL 변환</button>
</div>
<div class="col-md-12">
  <h1>[출력]</h1>
  단축 URL: <a id="shortUrl" href=""></a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/index.js"></script>
</body>
</html>